.RequestDetails {
  .GraphqlCodeBlock {
    font-size: 13px;
    padding: 0.5em;
  }
  .logs {
    padding: 0.5rem;
  }
  .logs-link {
    font-size: 14px;
    svg {
      margin-left: 0.25rem;
    }
  }
}
